<div class="container">
  <div class="form-container">
    <form [formGroup]="periodForm">
      <mat-form-field>
        <input matInput [matDatepicker]="startPicker"  placeholder="Start Date" formControlName="startDateControl">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker [startAt]="defaultStartDate"></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="endPicker"  placeholder="End Date" formControlName="endDateControl">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker [startAt]="defaultEndDate"></mat-datepicker>
      </mat-form-field>
      <button type="button" mat-raised-button color="primary" (click)="fetch()">Fetch</button>
    </form>
  </div>
  <div class="table-container">

  </div>
</div>
