<div class="container">
  <div class="table-container mat-elevation-z8">
    <div class="table-inner-container">
      <table mat-table #table [dataSource]="dataSource">

        <!--Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef >ID</th>
          <td mat-cell *matCellDef="let element">
            {{element.id}}
          </td>
        </ng-container>

        <!--Timestamp Column -->
        <ng-container matColumnDef="timestamp">
          <th mat-header-cell *matHeaderCellDef>Timestamp</th>
          <td mat-cell *matCellDef="let element">
            {{element.timestamp | date:'medium'}}
          </td>
        </ng-container>

        <!-- Detected Column -->
        <ng-container matColumnDef="detected">
          <th mat-header-cell *matHeaderCellDef>Detected objects</th>
          <td mat-cell *matCellDef="let element">
          {{getDetectionsString(element.detections)}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>
  </div>
</div>
