$main-primary: ( 50 : #e5ecf4, 100 : #becfe4, 200 : #93b0d2, 300 : #6790bf, 400 : #4778b2, 500 : #2660a4, 600 : #22589c, 700 : #1c4e92, 800 : #174489, 900 : #0d3378, A100 : #aac4ff, A200 : #77a1ff, A400 : #447eff, A700 : #2a6cff, contrast: ( 50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #ffffff, 500 : #ffffff, 600 : #ffffff, 700 : #ffffff, 800 : #ffffff, 900 : #ffffff, A100 : #000000, A200 : #000000, A400 : #ffffff, A700 : #ffffff, ) );
$main-accent: ( 50 : #f0f8e9, 100 : #d9ecc9, 200 : #c0e0a5, 300 : #a7d481, 400 : #94ca66, 500 : #81c14b, 600 : #79bb44, 700 : #6eb33b, 800 : #64ab33, 900 : #519e23, A100 : #e8ffdb, A200 : #c6ffa8, A400 : #a5ff75, A700 : #94ff5c, contrast: ( 50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #000000, 500 : #000000, 600 : #000000, 700 : #000000, 800 : #000000, 900 : #ffffff, A100 : #000000, A200 : #000000, A400 : #000000, A700 : #000000, ) );
$main-warn: ( 50 : #fdf3ea, 100 : #fbe0cb, 200 : #f8cca9, 300 : #f5b887, 400 : #f3a86d, 500 : #f19953, 600 : #ef914c, 700 : #ed8642, 800 : #eb7c39, 900 : #e76b29, A100 : #ffffff, A200 : #fff6f1, A400 : #ffd3be, A700 : #ffc2a5, contrast: ( 50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #000000, 500 : #000000, 600 : #000000, 700 : #000000, 800 : #000000, 900 : #000000, A100 : #000000, A200 : #000000, A400 : #000000, A700 : #000000, ) );


$palette-primary: mat-palette($main-primary);
$palette-accent: mat-palette($main-accent);
$palette-warn: mat-palette($main-warn);

$primary: #7fb069;
$accent: #d2bf55;
$warn: #a22c29;

